{% extends 'base.html' %}
{% load static %}
{% block body%}
<div class="container-fluid ">
{% include 'partial/messages.html' %}
<br>
{% if user.is_administrator%}
	{% if users %}
		
			<table class="u-table">
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Remarks</th>
					
				</tr>
				{% for u in users %}
				<tr>
					<td>{{u.username}}</td>
					<td>{{u.email}}</td>
					<td><a href="{% url 'del_user' u.id %}">{{ u.id}}Delete{{u.pk}}</a></td>
				</tr>
				{% endfor %}
			</table>
			
		
	{% else %}
	<p >No users registered yet. </p>
	{% endif %}
{%endif %}
</div>


{% endblock body %}