{% extends 'assets/base/base.html'%}
{%load static %}
{% block title%}
    Users

{% endblock title %}

{% block header%}

<!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'img/logo.png'%}" alt="logo"/>Crimson</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">

                        <li  ><a href="{% url 'home_view' %}">About Us</a></li> 
                        <li ><a href="{% url 'home' %}">Home</a></li> 

                         <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'create_book'%}">Add Book</a></li>
                                <li><a href="{% url 'create_program'%}">Add Program</a></li>
                                <li><a href="{%url 'create_handsout' %}">Add Handsout</a></li>
                                <li><a href="{%url 'create_oldquestion' %}">Add OldQuestion</a></li>
                                

                            </ul>
                        </li> 
                        <li ><a href="{% url 'course'%}">Courses</a></li>
                        <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'index'%}">Book</a></li>
                                <li><a href="{% url 'oldquestion'%}">Old Questions</a></li>
                                <li><a href="{%url 'handsout' %}">Handsout</a></li>
                                
                                

                            </ul>
                        </li>
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% if user.is_authenticated%}
                            {%if user.is_administrator%}
                                <li class="active"><a href="{% url 'users'%}">Users</a></li>
                            {%endif %}
                        <li><a href="{% url 'log_out'%}">{{request.user.username}} Logout</a></li>
                        {% else %}
                        <li><a href="{%url 'login'%}">Login</a></li>
                        <li><a href="{% url 'register'%}">Register</a></li>
                        {%endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->


{%endblock header %}

{% block body %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Users</h2>
            </div>
        </div>
    </div>
    </section>


<div class="container ">
{% include 'partial/messages.html' %}
</div>
<br>
<div class="container">
{% if user.is_administrator%}
    {% if users %}
        
            <table class="u-table">
                <tr>
                    <th>Username</th>
                    <th>Is Administrator</th>
                    <th>Is Student</th>
                    <th>Email</th>
                    {% if user.is_superuser%}
                    {% if user.is_administrator%}
                       <th>Remarks</th>
                    
                    
                    {%endif%}
                    {%endif%}
                </tr>
                {% for u in users %}
                <tr>
                    {% if user.superuser%}
                        {% if user.username != u.username%}
                            
                        
                                <td><a href="{% url 'user_detail' u.id %}">{{u.username}}</a></td>
                                <td>{{u.is_administrator}}</td>
                                <td>{{u.is_student}}</td>
                                <td>{{u.email}}</td>
                                <td><a href="{% url 'del_user' u.id %}" onclick="if(!confirm('Are You sure to Delete User?')){return false;}">Delete</a>/
                                <a href="{% url 'edit_user' u.id%}">Edit</a></td>
                        {%endif%}
                    {% else %}
                            {% if user.username != u.username%}

                                {% if u.is_superuser == False %}

                                    <td><a href="{% url 'user_detail' u.id %}">{{u.username}}</a></td>
                                    <td>{{u.is_administrator}}</td>
                                    <td>{{u.is_student}}</td>
                                    <td>{{u.email}}</td>
                                    <td><a href="{% url 'del_user' u.id %}" onclick="if(!confirm('Are You sure to Delete User?')){return false;}">Delete</a>/
                                    <a href="{% url 'edit_user' u.id%}">Edit</a></td>
                                {% endif %}
                            {% endif %}
                    {% endif%}
                </tr>
                {% endfor %}
            </table>
            
        
    {% else %}
    <p >No users registered yet. </p>
    {% endif %}
{%endif %}

</div>
<br>


{%endblock body%}

