{% extends 'base.html' %}
{% load static %}

{%block body%}
{% include 'partial/messages.html' %}

<div class="container-fluid" style="justify-self: center;">
	<p style="align-items: center;">
		<img src="{{book.cover_pic.url}}" style="width:100px" alt="{{book.book_name}}'s image">
			<ul>
				<p>Name: {{book.book_name}}</p>
				<p>Published By: {{book.published_By}}</p>
				<p>Edition: {{book.edition}}</p>
				<p>Authors: {{book.author}}</p>
				<p>Sem/Year: {{book.sem.name}}</p>
				<p>Faculty: {{book.faculty.name}}</p>
				<p>Level: {{book.level.name}}</p>
				<button type="submit" style="background-color:#00FFFF;"><a href="{{book.file.url}}">Download</a></button>
				
			</ul>
		
		
		
		{% if user.is_authenticated %}
		{% if user.is_administrator%}
		<button type="submit" onclick="Show_alert()">Delete</button>
		<button type="submit" style="background-color: #7FFFD4"><a href="{% url 'edit_book'  book.id %}">Edit</a> </button>
		
		<a href="{% url 'view_pdf' book.id %}" target="_new">View Pdf</a>
		<a href="{% url 'view_image' book.id %}" target="_new">View Image</a>
		{% endif %}
		{% endif %}
	</p>

</div>
<script type="text/javascript">
	function Show_alert(){
		if (confirm("Are Sure to Delete?")) {
  			window.location = "{% url 'delete_book'  book.id %}";
			} 
			
			
	}
</script>


{%endblock body%}

