{% extends 'base.html' %}
{% load static %}

{%block body%}
{% include 'partial/messages.html' %}

<div class="container-fluid" style="justify-self: center;">
	<p style="align-items: center;">
		<img src="{{book.cover_pic.url}}" style="width:100px" alt="{{book.book_name}}'s image">
			<ul>
				<p>Name: {{book.book_name}}</p>
				<p>Published By: {{book.published_By}}</p>
				<p>Edition: {{book.edition}}</p>
				<p>Authors: {{book.author}}</p>
				<p>Sem/Year: {{book.sem.name}}</p>
				<p>Faculty: {{book.faculty.name}}</p>
				<p>Level: {{book.level.name}}</p>
				<p><a href="{{book.file.url}}">Download {{book.file.url}}</a></p>
			</ul>
		
		
		
		{% if user.is_authenticated %}
		{% if user.is_administrator%}
		<a href="{% url 'edit_book'  book.id %}">Edit</a>
		<a href="{% url 'delete_book'  book.id %}" onclick="Show_alert()">Delete</a>
		<a href="{% url 'view_pdf' book.id %}" target="_new">View Pdf</a>
		{% endif %}
		{% endif %}
	</p>

</div>
<script type="text/javascript">
	function Show_alert(){
		alert("Are you sure to delete?")
	}
</script>


{%endblock body%}