{% extends 'base.html' %}
{% load static %}
{% block body%}
<div class="container-fluid">
{% include 'partial/messages.html' %}

{% if book %}

	<table >
		<tr>
			<th>CoverImage</th>
			<th>Name</th>
			<th>Author</th>
			<th>Published By</th>
			<th>Edition</th>
			<th>Level</th>
			<th>Sem/Year</th>
			<th>Faculty</th>
			{% if  user.is_authenticated %}
			<th>Remarks</th>
			{%endif%}
		</tr>
		
		{%if book %}
		
			{%for b in book%}
			<tr>
				<td><img src="{{b.cover_pic.url}}" alt="Image"style="width:20px;"></td>
				<td><a href="{% url 'book_detail' b.id%}">{{b.book_name}}</a></td>
				<td>{{b.author}}</td>
				<td>{{b.published_By}}</td>
				<td>{{b.edition}}</td>
				<td>{{b.level}}</td>
				<td>{{b.sem}}</td>
				<td>{{b.faculty}}</td>
				{% if user.is_authenticated%}
				{%if user.is_administrator%}
				<td><a href="{% url 'edit_book' b.id %}">Edit</a>/<a href="{% url 'delete_book' b.id %}">Delete</a></td>
				{%endif%}
				{% endif %}
			</td>
			{% endfor %}
		{%endif%}
			
		
	</table>

{% else %}
<p>No books available</p>
{% endif%}

<br>
{%if user.is_authenticated%}
{% if user.is_administrator%}
<a href="{% url 'create_book' %}">Create New Book</a>
{%endif%}
{% endif %}
<br> 

<br>	
<button onclick="Show_form()" id='s_btn'>Search</button>

<form id='form' method="POST" style="display:none;" >
	{{form}}
	{% csrf_token %}
	
	<input type="submit" name="search">
</form>
<button onclick="hide_form()" id='h_btn'style="display:none;">Hide</button>
</div>

<script type="text/javascript">
	function Show_form(){
		document.getElementById('form').style.display="block";
		document.getElementById('s_btn').style.display="none";
		document.getElementById('h_btn').style.display="block";


	}
	function hide_form() {
		document.getElementById('form').style.display="none";
		document.getElementById('h_btn').style.display="none";
		document.getElementById('s_btn').style.display="block";
	}

</script>
{% endblock body%}
