{% extends 'base.html' %}
{% load static %}


{% block body%}
<div class="container-fluid">
	{% include 'partial/messages.html' %}
</div>
<div class="container-fluid">
	<p>We offer following Courses</p>
		{% for l in level %}
			<ul>
				<strong>{{l.name}}</strong>
			</ul>
			
			<div class="container"  id="faculty">
				{% for f in faculty %}
					{%  if f.level.name == l.name%}
						{{f.name}}
						<div class="container-fluid" style="display:block" id='program'>
							{% for p in program %}
							{% if p.faculty.name == f.name %}
							<div class="container" style="display:block;">
								<ul><small>{{p.prgm}}</small></ul>
							</div>
								
							{% endif %}
						{%endfor%}
						</div>
						
					{% endif %}
				{% endfor %}
			</div>
		<br>
		{% endfor%}
	


</div>
<script type="text/javascript">
	function show_faculty(){
		document.getElementById('faculty').style.display="block";
	}
	function show_program(){
		document.getElementById("program").style.display="block";
	}
</script>
{% endblock body %}
