
<!-- Footer -->
    <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget">
                    <h5 class="widgetheading" style="font-size: 20px;">Our Contact</h5>
                    <address>
                    <strong>Crimson College of Technology</strong><br>
                     Devi Nagar, Butwal 32907<br>
                     Rupendehi,Lumbini Provience, Nepal.</address>
                    <p>
                        <i class="icon-phone"></i>00977-71-410479 / 71-410380<br>
                        <i class="icon-envelope-alt"></i> cct@nec.com.np / info@cct.edu.np
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget">
                    <h5 class="widgetheading" >Other Important Links</h5>
                    <ul class="link-list">
                        <li><a href="https://pu.edu.np/">POKHARA UNIVERSITY, NEPAL</a></li>
                        <li><a href="https://tribhuvan-university.edu.np/">TRIBHUVAN UNIVERSITY,NEPAL</a></li>
                        <li><a href="https://ku.edu.np/">KATHMANDU UNIVERSITY, NEPAL</a></li>
                        <li><a href="http://moe.gov.np/">MINISTRY OF EDUCATION,NEPAL</a></li>
                        <li><a href="http://www.nepalpharmacycouncil.org.np/">NEPAL PHARMACY COUNCIL</a></li>
                        <li><a href="https://nhpc.gov.np/">HEALTH PROFESSIONAL COUNCIL</a></li>
                    </ul>
                </div>
            </div>
            
            
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; NULLPOINTERS 2021 All right reserved. <br/></span> 
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="https://www.facebook.com/Crimson-College-of-Technology-1605529079747897/" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>