.lib{
	background-image: url("{% static 'images/library.jpg' %}");
	width: 100%;

}

table  {
        border: 1px solid black;
        border-collapse: collapse;
        align-content: center;
        text-align: center;
        background-color:#4B0082;
        width: 100%;
        opacity: 0.9;
        color: green;
        }

body{
        font-size: 18px;
}

.u-table{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        
    }
th{
        color: #FFEBCD;
        font-weight: bold;
        border: 1px solid black;
        border-collapse: collapse;
        align-content: center;
        text-align: center;
}
td{
        color: #FFEBCD;
        font-weight: Normal;
        border: 1px solid black;

        border-collapse: collapse;
        align-content: center;
        text-align: center;
}
a{
       color: #00FFFF; 
}