{% extends 'assets/base/base.html'%}
{%load static %}
{% block title%}
	BOOK DETAIL

{% endblock title %}

{% block header%}

<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'img/logo.png'%}" alt="logo"/>Crimson</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                    	<li  ><a href="{% url 'home_view' %}">About Us</a></li> 
                        <li ><a href="{% url 'home' %}">Home</a></li> 
                        {%if user.is_administrator%}
						 <li class="dropdown ">
	                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add <b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            
	                            <li><a href="{% url 'create_book'%}">Add Book</a></li>
	                            
	                           
	                            <li><a href="{% url 'create_program'%}">Add Program</a></li> 
	                            
	                            

	                        </ul>
	                    </li> 
	                    {%endif%}
						<li ><a href="{% url 'course'%}">Courses</a></li>
                        <li class="active"><a href="{% url 'index' %}">Library</a></li>
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% if user.is_authenticated%}
                            {%if user.is_administrator%}
                                <li ><a href="{% url 'users'%}">Users</a></li>
                            {%endif %}
                        <li><a href="{% url 'log_out'%}">{{request.user.username}} Logout</a></li>
                        {% else %}
                        <li><a href="{%url 'login'%}">Login</a></li>
                        <li><a href="{% url 'register'%}">Register</a></li>
                        {%endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->


{%endblock header %}

{% block body %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Book Detail</h2>
			</div>
		</div>
	</div>
	</section>

<br>


<div class="container" >
	<div class="container" >
	{% include 'partial/messages.html' %}
	<p style="align-items: center;">
		<img src="{{book.cover_pic.url}}" style="width:100px" alt="{{book.book_name}}'s image">
			<ul>
				<p>Name: {{book.book_name}}</p>
				<p>Published By: {{book.published_By}}</p>
				<p>Edition: {{book.edition}}</p>
				<p>Authors: {{book.author}}</p>
				<p>Sem/Year: {{book.sem.name}}</p>
				<p>Faculty: {{book.faculty.name}}</p>
				<p>Level: {{book.level.name}}</p>
				<button type="submit" style="background-color:#00FFFF;"><a href="{{book.file.url}}">Download</a></button>
				
			</ul>
		
		
		
		{% if user.is_authenticated %}
		{% if user.is_administrator%}
		
		<button type="submit" style="background-color: #7FFFD4"><a href="{% url 'edit_book'  book.id %}" onclick="if(!confirm('Are You sure to Delete?')){return false;}">Delete</a> </button>
		<button type="submit" style="background-color: #7FFFD4"><a href="{% url 'edit_book'  book.id %}">Edit</a> </button>
		
		<a href="{% url 'view_pdf' book.id %}" target="_new">View Pdf</a>
		
		{% endif %}
		{% endif %}
	</p>
</div>
</div>
<br>

{%endblock body%}
