{% extends 'assets/base/base.html'%}
{%load static %}
{% block title%}
	Handsout

{% endblock title %}

{% block header%}

<!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'img/logo.png'%}" alt="logo"/>Crimson</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        
                        <li ><a href="{% url 'home' %}">Home</a></li> 
                        {%if user.is_administrator%}
                         <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add <b class="caret "></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'create_book'%}">Add Book</a></li>
                                <li><a href="{% url 'create_program'%}">Add Program</a></li>
                                <li><a href="{%url 'create_handsout' %}">Add Handsout</a></li>
                                <li><a href="{%url 'create_oldquestion' %}">Add OldQuestion</a></li> 
                                
                                

                            </ul>
                        </li> 
                        {%endif%}
                        <li ><a href="{% url 'course'%}">Courses</a></li>
                        <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'index'%}">Book</a></li>
                                <li><a href="{% url 'oldquestion'%}">Old Questions</a></li>
                                <li><a href="{%url 'handsout' %}">Handsout</a></li>
                                
                                

                            </ul>
                        </li> 
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {%if user.is_authenticated %}
                            {%if user.is_administrator%}
                                <li><a href="{% url 'users'%}">Users</a></li>
                            {% endif %}
                            <li><a href="{% url 'log_out'%}">{{request.user.username}} Logout</a></li>
                        {% else %}
                            <li><a href="{%url 'login'%}">Login</a></li>
                            <li><a href="{% url 'register'%}">Register</a></li>
                        {%endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->





{%endblock header %}

{% block body %}


<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Edit Handout</h2>
			</div>
		</div>
	</div>
	</section>

<br>
{% if user.is_administrator %}
<div class="container">
	<div class="container" >
		
	<form method="POST" onSubmit="if(!confirm('Are You sure to Update?')){return false;}"enctype="multipart/form-data">

	{{form.as_p}}	
	{% csrf_token%}
	<input type="submit" class="ui button primary" value="Update" >
</form>

</div>
</div>
{% else %}
<div class="container">
	<p>You cannot edit this </p>
	
</div>
{% endif %}
<br>


{%endblock body%}