{% extends 'assets/base/base.html'%}
{%load static %}
{% block title%}
	Handsout

{% endblock title %}
<style type="text/css">
    .lib{
    background-image: url("{% static 'images/library.jpg' %}");
    width: 100%;
    align-content: center;

    }
    .u-table{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.9;
        
    }

</style>
{% block header%}

<!-- start header -->
    <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home'%}"><img src="{% static 'img/logo.png'%}" alt="logo"/>Crimson</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        
                        <li ><a href="{% url 'home' %}">Home</a></li> 
                        {%if user.is_administrator%}
                         <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add <b class="caret "></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'create_book'%}">Add Book</a></li>
                                <li><a href="{% url 'create_program'%}">Add Program</a></li>
                                <li><a href="{%url 'create_handsout' %}">Add Handsout</a></li>
                                <li><a href="{%url 'create_oldquestion' %}">Add OldQuestion</a></li> 
                                
                                

                            </ul>
                        </li> 
                        {%endif%}
                        <li ><a href="{% url 'course'%}">Courses</a></li>
                        <li class="dropdown active">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'index'%}">Book</a></li>
                                <li><a href="{% url 'oldquestion'%}">Old Questions</a></li>
                                <li><a href="{%url 'handsout' %}">Handsout</a></li>
                                
                                

                            </ul>
                        </li> 
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {%if user.is_authenticated %}
                            {%if user.is_administrator%}
                                <li><a href="{% url 'users'%}">Users</a></li>
                            {% endif %}
                            <li><a href="{% url 'log_out'%}">{{request.user.username}} Logout</a></li>
                        {% else %}
                            <li><a href="{%url 'login'%}">Login</a></li>
                            <li><a href="{% url 'register'%}">Register</a></li>
                        {%endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->





{%endblock header %}

{% block body %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Library | Handsout</h2>
            </div>
        </div>
    </div>
    </section>
    <section id="content">
        <div class="container content">     
        <!-- Service Blcoks -->
            
                        <div class="row"> 
                            <div class="col-md-12">
                                <div class="container-fluid">
    <br>
            <div class="container">
            {% include 'partial/messages.html' %}
            <button onclick="Show_form()" id='s_btn'>Search</button>



            {% if filter.qs %}
            <br>
            <form id='form' method="GET" style="display:none;
            margin-left: auto; margin-right:auto ;width: 100%;" >
                {{filter.form }}
                
                <input type="submit" name="search">
            </form>
            <br>
            <button onclick="hide_form()" id='h_btn'style="display:none;float:right;">Hide</button>
            <div class=" container lib">
                <table class="u-table" >
                    <tr>
                        
                        <th>Faculty</th>
                        <th>Level</th>
                        <th>Program</th>
                        <th>Semester</th>
                        <th>Subject</th>
                        <th>Chapter</th>
                        <th>Note By</th>
                        
                        {% if  user.is_administrator %}
                        <th>Remarks</th>
                        {%endif%}
                    </tr>
                    
                    
                    
                        {%for b in filter.qs %}
                        <tr>
                            
                            <td>{{b.faculty}}</td>
                            <td>{{b.level}}</td>
                            <td>{{b.program}}</td>
                            <td>{{b.sem}}</td>
                            <td>{{b.subject}}</td>
                            <td>{{b.note_by}}</td>
                            <td><a href="{{b.file.url}}">{{b.chapter}}</a></td>
                            
                            
                            {%if user.is_authenticated%}
                            {%if user.is_administrator%}
                            <td><a href="{% url 'edit_handsout' b.id %}">Edit</a>\
                            <a href="{% url 'delete_handsout' b.id %}"onclick="if(!confirm('Are You sure to Delete?')){return false;}">Delete</a>

                            {%endif%}
                            {%endif%}
                        </td>
                        {% endfor %}

                    
                        
                    
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
               
            </div>


            {% else %}
                        <p>No record Found. Please Try Next</p>
                    {%endif%}
            <br>
            {%if user.is_authenticated%}
            {%if user.is_administrator%}

            <button type="submit" style="background-color:#00FFFF;"><a href="{% url 'create_handsout' %}" style="color:#FFF5EE;">Create New Handsout</a></button>
            {%endif%}
            {%endif%}
            <br> 

            <script type="text/javascript">
                function Show_form(){
                    document.getElementById('form').style.display="block";
                    document.getElementById('s_btn').style.display="none";
                    document.getElementById('h_btn').style.display="block";


                }
                function hide_form() {
                    document.getElementById('form').style.display="none";
                    document.getElementById('h_btn').style.display="none";
                    document.getElementById('s_btn').style.display="block";
                }
                function myfunction(){
                    
                        }
                        
                
            </script>   


            </div>
    </div>
</div>
                         
                            <!-- Info Blcoks -->

 
        
    </div>
    </section>
{%endblock body%}