{% extends 'assets/base/base.html'%}
{%load static %}
{% block title%}
	HOME

{% endblock title %}

{% block header%}
<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png'%}" alt="logo"/>Crimson</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                    	
                        <li class="active"><a href="{% url 'home' %}">Home</a></li> 
						{%if user.is_administrator%}
						<li class="dropdown">
		                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Add <b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                            
		                            <li><a href="{% url 'create_book'%}">Add Book</a></li>
		                            <li><a href="{% url 'create_program'%}">Add Program</a></li>
		                            <li><a href="{%url 'create_handsout' %}">Add Handsout</a></li>
                               		 <li><a href="{%url 'create_oldquestion' %}">Add OldQuestion</a></li>
		                            
		                            

		                        </ul>
                    	</li> 
                    	{% endif %}
						<li><a href="{% url 'course'%}">Courses</a></li>
                        <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Library <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{% url 'index'%}">Book</a></li>
                                <li><a href="{% url 'oldquestion'%}">Old Questions</a></li>
                                <li><a href="{%url 'handsout' %}">Handsout</a></li>
                                
                                

                            </ul>
                        </li>
                        <li><a href="{% url 'contact'%}">Contact</a></li>
                        {% if user.is_authenticated %}
                        	{%if user.is_administrator%}
                        		<li><a href="{% url 'users'%}">Users</a></li>
                        	{%endif %}
                        <li><a href="{% url 'log_out'%}">{{request.user.username}} Logout</a></li>
                        {% else%}
                        <li><a href="{%url 'login'%}">Login</a></li>
                        <li><a href="{% url 'register'%}">Register</a></li>
                        {% endif%}
                    </ul>
                </div>
            </div>
        </div>
	</header>
		<!-- end header -->
{% endblock header%}

{% block body %}
<section id="banner">
	 <div class="container">
	 	{% include 'partial/messages.html' %}
	 </div>
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static 'img/slides/1.jpg'%}" alt="" />
                <div class="flex-caption">
                    <h3>Quality Education</h3> 
					<p>We Teach Students for Sucessful Fututre</p> 
					 
                </div>
              </li>
              <li>
                <img src="{% static 'img/slides/2.jpg'%}" alt="" />
                <div class="flex-caption">
                    <h3>Learn to be Sucessful</h3> 
					<p>Lorem ipsum dolo amet, consectetur  provident.</p> 
					 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section> 
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-sm-9">
					<h3>Welcome to Crimson College Of Technology</h3>
					<p>Crimson College of Technology (CCT) has been established in 2000 AD by a group of dedicated academicians from different educational backgrounds like IT, management, professionals from health-sciences and engineers.<br>

					The college is currently running BBA, BCA, BCIS ,Bachelor in Pharmacy (B.PHARM) and B.Sc. Medical Lab Technology (BMLT) programs affiliated to Pokhara University (PU).
					<br>
					CCT is distinguished as an ‘A GRADE COLLEGE IN EMPLOYMENT’ in the region. Adding to it, CCT is committed to embracing an inclusive quality assurance culture, and has developed a number of policies and procedures to ensure that our courses and services are the highest quality in pharmacy education. The college is located in the heart of the city and is linked with east-west highway.
					Butwal has become a focal point for education, trade and transportation.</p>
				</div>
			
			</div>
		</div>
	</section>
	<hr>
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Message From Principle</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>{{message.text}}</p>

						
						
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="{{message.image.url}}" alt="About Images" style="height: auto;width: auto;">
					</div>
				</div>
			</div>
		</div>
	</section>	 
	<hr> 
	<section id="call-to-action-2">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-sm-9">
					<h3>Mission</h3>
					<p>{{mission.mission}}</p>
				</div>
			
			</div>
		</div>
	</section>
	
	
	<br>
	
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Our Institute</h2>
						<p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

						<ul class="withArrow">
							<li><span class="fa fa-angle-right"></span> Quality Education</li>
							<li><span class="fa fa-angle-right"></span> Sufficient Space</li>
							<li><span class="fa fa-angle-right"></span> Curabitur aliquet quam id dui</li>
							<li><span class="fa fa-angle-right"></span> Donec sollicitudin molestie malesuada.</li>
						</ul>
						
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="{%static 'img/about.jpg'%}" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>	  
	<br>
	

{% endblock body%}

